@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-surface-container: #e5eeff;
  --color-secondary-container: #d3e5f1;
  --color-inverse-on-surface: #eaf1ff;
  --color-on-error: #ffffff;
  --color-on-surface: #0b1c30;
  --color-outline: #76777d;
  --color-on-background: #0b1c30;
  --color-secondary: #50616b;
  --color-tertiary-container: #001e2c;
  --color-on-secondary-fixed-variant: #384953;
  --color-on-secondary-fixed: #0c1e26;
  --color-surface: #f8f9ff;
  --color-inverse-surface: #213145;
  --color-surface-container-highest: #d3e4fe;
  --color-error-container: #ffdad6;
  --color-secondary-fixed: #d3e5f1;
  --color-surface-container-high: #dce9ff;
  --color-tertiary-fixed: #c4e7ff;
  --color-primary: #000000;
  --color-on-tertiary-container: #008ebf;
  --color-on-tertiary: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-surface-tint: #565e74;
  --color-on-tertiary-fixed: #001e2c;
  --color-tertiary-fixed-dim: #7bd0ff;
  --color-surface-variant: #d3e4fe;
  --color-outline-variant: #c6c6cd;
  --color-surface-dim: #cbdbf5;
  --color-surface-bright: #f8f9ff;
  --color-on-tertiary-fixed-variant: #004c69;
  --color-on-primary-container: #7c839b;
  --color-on-secondary: #ffffff;
  --color-primary-container: #131b2e;
  --color-on-error-container: #93000a;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary-fixed: #131b2e;
  --color-tertiary: #000000;
  --color-on-primary-fixed-variant: #3f465c;
  --color-background: #f8f9ff;
  --color-on-secondary-container: #566771;
  --color-error: #ba1a1a;
  --color-inverse-primary: #bec6e0;
  --color-primary-fixed-dim: #bec6e0;
  --color-on-primary: #ffffff;
  --color-primary-fixed: #dae2fd;
  --color-on-surface-variant: #45464d;
  --color-secondary-fixed-dim: #b7c9d5;

  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  --spacing-margin-mobile: 16px;
  --spacing-md: 16px;
  --spacing-margin-desktop: 40px;
  --spacing-base: 8px;
  --spacing-xxl: 48px;
  --spacing-gutter: 24px;
  --spacing-lg: 24px;
  --spacing-sm: 8px;
  --spacing-xl: 32px;
  --spacing-xs: 4px;
}

:root {
  --background: #f8f9ff;
  --foreground: #0b1c30;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.glass-card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
